/* shared CSS  */

body {
  background: #000;
}
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
  font-variation-settings: "slnt" 0;
}
.mr-dafoe-regular {
  font-family: "Mr Dafoe", cursive;
  font-weight: 400;
  font-style: normal;
}

.common-button {
  background-color: #e6533c;
  color: #fff;
  border: none;
  border-radius: 40px;
  padding: 5px 25px;
  cursor: pointer;
}
.common-heading {
  color: #fff;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;

  margin-bottom: 10px;
}
.common-paragraph {
  color: rgba(255, 255, 255, 0.5);

  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  margin-top: 0;
}
.common-container {
  max-width: 850px;
  margin: 10px auto 50px auto;
}
/* Navbar */
header {
  background-color: #212121;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 50px;
}
.nav-options {
  border-radius: 39px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}
.nav-options a {
  text-decoration: none;
  margin-right: 40px;
  color: #fff;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  padding: 10px 0;
}
.hamburger-menu {
  display: none;
}
/* ----------------------------Banner----------------------------- */
.banner {
  max-width: 850px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner-heading {
  color: #fff;
  font-family: Inter;
  font-size: 78px;
  font-style: normal;
  font-weight: 900;
}
.banner-paragraph {
  color: rgba(255, 255, 255, 0.5);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

.Download-btn {
  border: 1px solid #f1f0f0;
  border-radius: 45px;
  padding: 5px 45px;
  cursor: pointer;
  background-color: #222;
  margin-left: 10px;
  color: #fff;
}

.banner-img {
  position: relative;
}

.free-workout-videos {
  width: 100px;
  border-radius: 10px;
  padding: 5px 10px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  position: absolute;
  top: 155px;
  right: -10px;
}
.video-tutorial {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  align-items: center;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(48, 48, 48, 0.54);
  backdrop-filter: blur(10px);
  position: absolute;
  padding: 1px 10px;
  bottom: 55px;
  right: 225px;
}
/* ---------------------Change my habits ----------------------------------*/
.habit-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.habit-box-heading {
  color: #fff;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  text-align: center;
  margin-bottom: 0;
}
.habit-box-detail {
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}
.habit-box-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/*------------------------- Run Extra mile -------------------------*/
.run-container {
  border-radius: 18px;
  background: #222;
}
.run-box {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.run-details {
  max-width: 350px;
  margin-right: 50px;
}
/* -----------------BMI Calculator -------------------------------*/
.bmi-section {
  margin-bottom: 50px;
}
.bmi-title-paragraph {
  max-width: 600px;
  margin: 0 auto 40px auto;
}
.bmi-table-heading {
  color: #fff;
  font-family: Inter;
  font-size: 28px;
  font-style: normal;
  font-weight: 900;
  margin-bottom: 20px;
}
.bmi-container {
  background-color: #222;
}
.BMI-table {
  max-width: 850px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
table tr {
  color: rgba(255, 255, 255, 0.5);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}
table th {
  text-align: center;
}
table,
th,
td {
  padding: 15px;
  border: 1px dotted #ffffff;
  border-collapse: collapse;
}
.bmi-table-paragraph {
  color: rgba(255, 255, 255, 0.5);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}
.bmi-form {
  width: 350px;
}
.bmi-form input {
  color: #fff;
  background-color: rgb(28, 27, 27);
  margin-top: 5px;
  margin-bottom: 5px;
  border: none;
  border-radius: 5px;
  padding: 5px;
}
/* ---------------------------meet our trainer---------------------- */
.main-container {
  position: relative;
}
.bottomleft {
  position: absolute;
  bottom: -1px;
  left: 15px;
}
.trainer-container {
  background-color: #343333;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  padding: 5px;
}
.main-container img {
  width: 100%;
  height: 210px;
  border-radius: 10px;
}
.trainer-name {
  color: #fff;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  margin-bottom: 0;
}
.trainer-job-title {
  color: rgba(255, 255, 255, 0.5);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  margin-top: 0;
}
/*-------------------Review Container------------------------*/
.review-section {
  margin-top: 15px;
  margin-bottom: 50px;
}
.review-container {
  max-width: 850px;
  margin: 0 auto;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 5px;
}
.each-review-container {
  padding: 10px 0;
  background-color: #222;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/*--------------------- Footer ---------------------------*/
footer {
  background-color: #222;
  margin-bottom: 20px;
}
.footer-container {
  display: flex;
  justify-content: space-between;
}
.footer-container a {
  display: block;
  margin: 10px 0;
  text-decoration: none;
}
.footer-main-title {
  color: #e6533c;
  font-family: Inter;
  font-size: 35px;
  font-style: italic;
  font-weight: 800;
  margin-bottom: 0;
}
.footer-main-title-description {
  color: rgba(255, 255, 255, 0.5);
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
}
.footer-common-title {
  color: #fff;
  font-family: Inter;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
}
.footer-services {
  color: #fff;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
}
.copy-right-text {
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}
/* ------------------------small screen---------------------------- */
@media screen and (max-width: 576px) {
  header {
    padding: 10px 10px 0 10px;
  }
  .navbar {
    margin: 0;
  }
  .nav-options {
  }
  .hamburger-menu {
    display: block;
  }
  .banner {
    flex-direction: column;
  }
  .nav-options {
    display: none;
  }
  .habit-box {
    flex-direction: column;
  }

  .run-box {
    padding: 5px;
    flex-direction: column;
  }
  .run-details {
    margin-right: 0;
  }
  #join-now {
    margin: 0 auto;
    width: 100%;
  }
  .run-details {
    margin-bottom: 10px;
  }

  .BMI-table {
    flex-direction: column;
    margin: 0 auto;
  }
  .trainer-container {
    grid-template-columns: repeat(1, 1fr);
    padding: 5px;
  }
  .review-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .footer-container {
    flex-direction: column;
    padding-left: 10px;
  }
}

/*-----------------------------Medium Device-------------------------*/
@media screen and (min-width: 577px) and (max-width: 992px) {
  header {
    padding: 10px 10px 0 10px;
  }
  .navbar {
    margin: 0;
  }

  .hamburger-menu {
    display: none;
  }
  .banner {
    flex-direction: column;
  }
  .nav-options {
    display: none;
  }
  .habit-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .run-box {
    padding: 15px;
  }
  .run-details {
    margin-right: 25px;
  }
  #join-now {
    margin: 0 auto;
    width: 100%;
  }
  .run-details {
    margin-bottom: 10px;
  }

  .BMI-table {
    flex-direction: column;
    margin: 0 auto;
  }
  .bmi-form {
    width: 100%;
  }

  .trainer-container {
    grid-template-columns: repeat(1, 1fr);
    padding: 5px;
  }
  .review-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .footer-container {
    flex-direction: column;
    padding-left: 10px;
  }
}
